{background: (53, 10, 247); width:1020px;height: 905px;}
.encabezado{background: rgba(8, 236, 111, 0.567); text-align:center; height: 54px}
.contenido{background: rgb(183, 0, 255); height:80px}
.contenido2{background: rgb(2, 187, 243)}